@font-face {
  font-family: PixelMplus10 Regular;
  src: url("https://cdn.leafscape.be/PixelMplus/PixelMplus10-Regular_web.woff2")
    format("woff2");
}

html {
  font-family: PixelMplus10 Regular, sans-serif;
}
