@font-face {
  font-family: PixelMplus10 Regular;
  src: url("https://cdn.leafscape.be/PixelMplus/PixelMplus10-Regular_web.woff2")
    format("woff2");
}

html {
  font-family: PixelMplus10 Regular, sans-serif;
  color: whitesmoke;
  background-color: black;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.terror-box {
  display: flex;
  flex-wrap: wrap;
}

.terror-box>* {
  flex: 1 1 200px;
  flex-direction: column;
}

.terror-box a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

img.terror {
  image-rendering: pixelated;
  width: 100px;
}

.search {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.search select {
  padding: 10px;
  outline: none;
  background-color: black;
  color: red;
  font-family: PixelMplus10 Regular, sans-serif;
  font-size: 1.5em;
  border: 1px solid red;
}

.search input {
  width: 50%;
  padding: 10px;
  outline: none;
  border: 1px solid red;
  background-color: black;
  color: red;
  font-family: PixelMplus10 Regular, sans-serif;
  font-size: 1.5em;
}
